/* NOT CHANGABLE WHEN IMPORT*/
// $font-size: 16px;
// $color: lightblue;
// $bg-color: yellow;

/*CHAGABLE "!default" */ 
$font-size: 16px !default;
$color: lightblue !default;
$bg-color: yellow !default;