body {
  background-color: #e9e9e9;
}

.wrapper {
  background-color: #5a1321;
  width: 100%;
  height: 1100px;
  margin: 72px;
}

.button {
  background-color: #d98328;
  color: #191919;
}
.button:hover {
  background-color: #191919;
  color: #d98328;
}

.msg-primary {
  background-color: #f07f2e;
  width: 360px;
  height: 40px;
  border-radius: 16px;
  padding: 24px;
  color: aliceblue;
  font-style: bold;
  font-weight: normal;
  font-size: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin: 16px;
}

.msg-success {
  background-color: #82c43c;
  width: 360px;
  height: 40px;
  border-radius: 16px;
  padding: 24px;
  color: aliceblue;
  font-style: bold;
  font-weight: normal;
  font-size: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin: 16px;
}

.msg-danger {
  background-color: #fc5a5a;
  width: 360px;
  height: 40px;
  border-radius: 16px;
  padding: 24px;
  color: aliceblue;
  font-style: bold;
  font-weight: normal;
  font-size: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin: 16px;
}

.msg-warning {
  background-color: #a461d8;
  width: 360px;
  height: 40px;
  border-radius: 16px;
  padding: 24px;
  color: aliceblue;
  font-style: bold;
  font-weight: normal;
  font-size: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin: 16px;
}

.msg-info {
  background-color: #4e75ff;
  width: 360px;
  height: 40px;
  border-radius: 16px;
  padding: 24px;
  color: aliceblue;
  font-style: bold;
  font-weight: normal;
  font-size: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin: 16px;
}